body{
    background-color: rgb(180, 191, 212);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

nav{
    position: relative;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(19, 4, 150);
}
.navbar{
    margin-left: 200px;
    display: inline-block;
    margin-right: 50px;
}
.navbarelement{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
}
a:hover{
    background-color: rgb(93, 79, 214);
    color: yellow;
}
.back-button1{

    position: relative;
    size: 10px;
    height: 5px;
    width: 10px;
}
.navbarelement_Action{
    display: inline;
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
}

.back{
    display: inline-block;
    color: ivory;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.mainhead{
    display: inline-block;
    color: white;
    position: relative;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
}